.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.my-btn {
  background-color: #61dafb;
  border: rgb(225, 219, 219) 1px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.my-btn:hover {
  background: linear-gradient(to right, rgb(137, 219, 244), rgb(53, 130, 231));
}

table {
  margin: 2px auto;
  tr {
    display: block;
    border: rgb(225, 219, 219) 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin-bottom: 5px;
    td {
      width: 250px;
    }
    .checkbox {
      text-align: right;
    }
  }
}
h2 {
  padding: 10px;
  padding-left: 20px;
}
.search-bar {
  border: none;
  border-bottom: rgb(225, 219, 219) 2.5px solid;
  margin: 40px 0;
  font-size: 1.2rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
